<!DOCTYPE html>
<html lang="ru" xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>

    <meta charset="UTF-8">
    <title>Конвертер валют</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.6.0-1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.6.0-1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css" th:href="@{/css/main.css}"/>

    <script type="text/javascript" src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/4.6.0-1/js/bootstrap.js"></script>


</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="input-group">
                <form id="converter_form" class="mw-100">
                    <input id="calendar" type="date" name="date" required class="form-control-sm">
                    <input id="amountInput" type="number" placeholder="Сумма" name="amountInput" class="form-control-sm">
                    <select id="selectInput" name="selectInput" class="form-control-sm"></select>
                    <select id="selectOutput" name="selectOutput" class="form-control-sm"></select>
                    <input id="amountOutput" type="number" placeholder="Сумма" readonly class="form-control-sm">

                    <button id="calculate" type="button" class="btn btn-primary">Посчитать</button>
                    <button class="btn btn-secondary" onclick="location.href='/logout'>Выход</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table id="history_table" class="table table-bordered">
                <thead>
                <tr>
                    <th>Исходная валюта</th>
                    <th>Целевая валюта</th>
                    <th>Исходная сумма</th>
                    <th>Полученная сумма</th>
                    <th>Курс на дату</th>
                    <th>Дата запроса</th>
                </tr>
                </thead>
                <tbody id="tableBody">

                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="/js/currencies.js" th:src="@{./js/currencies.js}"></script>
<script src="/js/calculations_history.js" th:src="@{./js/calculations_history.js}"></script>
</body>
</html>